h1 {

    font-family: verdana, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 40px;
     
}

body {

    background-color: rgb(245, 245, 240)
}

.link {

line-height: 4;
text-align: center;
font-size: 18px;
}

